/*  your css code here. If applicable */
body{
	background-color: #C3C4C4;
	box-sizing: border-box; 
	box-shadoew: 2px 2px 5px #303436 ;
}
.container{
	margin-top: 5px;
	margin-left: 150px;
	
}
h1{
	margin-top: 0px;
	font-size: 65px;
}
.price{
	margin-left: 70px
}
p{
	margin-top: 0px;
	font-size: 40px;
	font-weight: 540;
}
	
button{
	background-color: #908F8F;
	width: 150px;
	height: 100px;
	border-radius: 20px;
	margin-left: 95px;
	font-size: 30px;
	color: white;
	padding: 12px;
}
